/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min 
 *= require_tree .
 *= require_self
 */
header {
  height:100px;
	background-color: #f5f5f5f5;
	width: 100%;
	position:fixed;
  top:0;
}

h1 {
	padding-top: 10px;
	margin: auto;
	width: 200px;
}

#log_in_error {
	text-align: center;
	margin-top: 25px;
	color: red;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
	list-style: none;
}

.form-group {
	margin-top: 20px
}

.well.well-sm.index {
	border-radius: 3%;
  margin: 0;
	width: 100%;
	text-align: left;
	word-break: keep-all;
}

#new_post {
  margin-left: 1000px;
  margin-top: -30px;
  position: fixed;
}

