img#favorite {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

.grid {
  display: inline-block;
}

.favorite_index {
  margin-top: 50px;
  margin-left: 100px;
}

.mine {
  margin-top: 100px;
  text-align: center;
}