.card {
  background: #ffffff;
  width: 800px;
  padding: 10px;
  text-align: center;
  margin: 190px auto;
  padding: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); 
  height: 650px;
}

.card_show {
  background: #ffffff;
  width: 800px;
  padding: 10px;
  text-align: center;
  margin: 150px auto;
  padding: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
#show {
  float: right;
}

#index_picture {
  margin-top: 20px;
  width:100%;
  border-radius: 0%;
  height: 400px;
}

#comment {
  text-align: left;
  margin-top: 40px;
}

.edit {
  float: left;
}

#post_image {
  width:  40px;
  height: 40px;
  border-radius: 50%;  
  background-position: left top;  
  display: inline-block;
  float: left; 
  margin-left: 10px;
  margin-top: 20px;
}
#content {
  border-top: solid 2px #F5F5F5;
  height: 60px;
  text-align: left;
}

#index_name {
  padding-top: 25px;
  text-align: left;
  padding-left: 70px;
  font-size: 20px;
}