input.form-control {
	width :200px;
  margin: 0 auto;
}

input.btn.btn-default {
	margin-top: 100px;
	margin-bottom: 15px;

}

#error_explanation {
	text-align: center;
}

label {
	margin-top : 20px;
}

#login {
  text-align: center;
  margin-top: px;
  padding: 0.5em 1em;
  margin: 4em 0;
  color: black;
  background: white;
  border-top: solid 5px #f5f5f5f5;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	width: 400px;
	margin-left: 500px;
}

p {
	font-size: 20px;
}

#logged_in {
	font-size: 20px;
	margin-top: 25px;
}

.danger {
	margin:0 auto;
}